.cards {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  .card {
    display: flex;
    padding: 2rem 0;
    width: 40%;
    margin: auto;
    border: black solid 2px;
    img {
      width: 90%;
      margin: auto;
    }
  }
}
