#contact {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $textColour;
  padding: $navbarHeight 0;

  h2 {
    font-size: $welcomeH2FontSize;
    text-align: center;
  }

  p {
    font-size: $navbarFontSize;
    font-weight: lighter;
    font-style: italic;
    margin: 1.2vh 0;
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.8vh;
    justify-content: space-evenly;

    li {
      margin-left: 1.8vw;
      display: flex;
      align-items: center;

      img {
        height: $footerIconHeight;
      }

      a {
        text-decoration: none;
        color: $textColour;
        text-align: center;
        line-height: 100%;
        font-size: $footerIconHeight;
      }
    }
  }
}
