#projects {
  background: $projectsBackground;
  min-height: 100vh;
  padding: $navbarHeight 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $textColour;

  h2 {
    width: fit-content;
    padding: 0.25vh 0.5vh;
    margin: 0 auto;
    text-align: center;
    font-size: $projectH2FontSize;
    border-bottom: 0.25vh solid $textColour;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60%;
    margin: 0 auto;

    .project-tile {
      background-color: $welcomeBackgroundOne;
      width: 40rem;
      height: auto;
      margin: 2vh;

      a {
        text-decoration: none;
        color: $textColour;
        img {
          width: 100%;
        }
        .project-name {
          font-size: $navbarFontSize;
          font-weight: 100;
          text-align: center;
          padding: 1.25vh;
          // Adjustments so items of class hover-code align
          // with the center of the text
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  #show-all {
    padding: 0.5vmin 1vmin;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    color: $textColour;
    text-decoration: none;
    font-size: $welcomeH1FontSize;
    background-color: $welcomeBackgroundOne;
    // Adjustments so items of class hover-code align
    // with the center of the text
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
