#projects {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;

  .project-tile {
    background-color: $welcomeBackgroundOne;
    width: 30rem;
    height: auto;

    a {
      text-decoration: none;
      color: white;
      img {
        width: 100%;
      }
    }
  }
}
