// Variables
$navbarHeight: 7vh;
$navbarBackground: #be3144;
$navbarFontSize: 1.4rem;

// Base styling
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  padding-top: $navbarHeight;
}

// Imports
@import "navbar";
