// Variables
$textColour: #f0f0f0;

$navbarHeight: 7vh;
$navbarBackground: #be3144;
$navbarFontSize: 1.4rem;

$welcomeBackgroundOne: #3a3d40;
$welcomeBackgroundTwo: #181719;
$welcomeH2FontSize: 3.5rem;
$welcomeH1FontSize: 2rem;

$projectsBackground: #45567d;
$projectH2FontSize: 2.6rem;

$footerBackground: #303841;
$footerIconHeight: 1.9rem;

// Base styling
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

footer {
  background-color: $footerBackground;
}

// Imports
@import "navbar";
@import "welcome";
@import "projects";
@import "contact";
@import "disclaimer";
