html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Montserrat", sans-serif;
  background: green;

  .opening {
    background: url(../imgs/background.jpg) green;
    text-align: center;
    padding: 5rem 0;
    border-radius: 2rem;
    h1 {
      font-size: 10rem;
    }
    h2 {
      font-size: 3rem;
    }
  }
}

@import "cards";

// Responsiveness
@media screen and (max-width: 1024px) {
  html {
    font-size: 40%;
  }
  .cards {
    .card {
      width: 100%;
    }
  }
}
