// Variables
$textColour: #f0f0f0;

$navbarHeight: 7vh;
$navbarBackground: #be3144;
$navbarFontSize: 1.4rem;

$welcomeBackgroundOne: #3a3d40;
$welcomeBackgroundTwo: #181719;
$welcomeH2FontSize: 3.5rem;
$welcomeH1FontSize: 2rem;
$welcomeReducedH2FontSize: 3.2rem;
$welcomeReducedH1FontSize: 1.7rem;

$projectsBackground: #45567d;
$projectH2FontSize: 2.6rem;
$projectHoverTextColour: #ff7f50;
$projectResponsiveH2: 5vw;

$footerBackground: #303841;
$footerIconHeight: 1.9rem;

// Base styling
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

footer {
  background-color: $footerBackground;
}

// Imports
@import "navbar";
@import "welcome";
@import "projects";
@import "contact";
@import "disclaimer";
@import "hover";

// Responsiveness
@media only screen and (max-width: 1650px) {
  #navbar {
    ul {
      width: 40%;
    }
  }
}

@media only screen and (max-width: 900px) {
  #navbar {
    height: calc(#{$navbarHeight} * 1.5);
    justify-content: center;
    ul {
      width: 60%;
    }
  }

  #projects {
    h2 {
      font-size: $projectResponsiveH2;
    }

    #show-all {
      font-size: $welcomeReducedH1FontSize;
    }
  }
}

@media only screen and (max-width: 600px) {
  #navbar {
    ul {
      width: 100%;
    }
  }

  #welcome-section {
    h2 {
      font-size: $welcomeReducedH2FontSize;
      width: 90%;
      margin: 0 auto;
    }

    h1 {
      font-size: $welcomeReducedH1FontSize;
      padding-top: 3vh;
      width: 90%;
      margin: 0 auto;
    }
  }

  #projects {
    h2 {
      font-size: $welcomeReducedH1FontSize;
      text-decoration: underline;
      line-height: $welcomeH1FontSize;
      border: none;
    }
  }
}
