$textColour: #4d4e53;
$textFontSize: 1rem;

$titleColour: black;
$mainTitleFontSize: 1.8rem;
$titleFontSize: 1.8rem;

body {
  color: $textColour;
  line-height: 1.5;
  font-size: $textFontSize;
}

main {
  margin-left: 29%;
  margin-top: 4%;

  .main-section {
    header {
      color: $titleColour;
      font-size: $titleFontSize;
    }

    p {
      padding-left: 1.5vw;
    }

    ul {
      padding-left: 6vw;
      li {
        p {
          padding: 0;
        }
      }
    }
  }
}

@import "navbar";
