$textColour: #4d4e53;
$textFontSize: 1rem;

$titleColour: black;
$mainTitleFontSize: 1.8rem;
$titleFontSize: 1.8rem;

$codeBackground: #f7f7f7;

body {
  color: $textColour;
  line-height: 1.5;
  font-size: $textFontSize;
}

@import "navbar";
@import "main";
