$textColour: #4d4e53;
$textFontSize: 1rem;

$titleColour: black;
$mainTitleFontSize: 1.8rem;
$titleFontSize: 1.8rem;

$codeBackground: #f7f7f7;

$mediumTitleFontSize: 1.3rem;
$mediumTextFontSize: 0.9rem;

body {
  color: $textColour;
  line-height: 1.5;
  font-size: $textFontSize;
}

@import "navbar";
@import "main";

// Responsiveness
@media only screen and (max-width: 1000px) {
  body {
    font-size: $mediumTextFontSize;
  }

  #navbar {
    header {
      font-size: $mediumTitleFontSize;
    }
  }

  main {
    .main-section {
      header {
        font-size: $mediumTitleFontSize;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  body {
    font-size: $textFontSize;
  }

  #navbar {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: none;
    position: relative;

    header {
      font-size: $titleFontSize;
    }

    ul {
      display: flex;
      flex-direction: column;
      li {
        padding: 1vh 2vw;
      }
    }
  }

  main {
    width: 90%;
    margin: auto;

    .main-section {
      margin-top: 5vh;

      header {
        font-size: $titleFontSize;
      }

      code {
        overflow-wrap: normal;
        min-width: fit-content;
      }
    }
  }
}
