#survey-form {
  padding: 2rem;
  background: rgb(124, 124, 212);
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;

  .inputs {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    label {
      font-weight: bold;
      padding-bottom: 1rem;
    }

    p {
      font-weight: bold;
      padding-bottom: 2rem;
    }
  }

  #gender-in {
    label {
      font-weight: normal;
    }
  }

  #technologies-in {
    label {
      font-weight: normal;
    }
  }

  #message-in {
    textarea {
      width: 60%;
      font-size: 1.6rem;
    }
  }

  button {
    background: green;
    border-radius: 1rem;
    height: 3rem;

    &:hover {
      background: rgb(110, 195, 110);
    }
  }
}
