// Variables
$primary-color: rgb(218, 94, 218);
$secondary-color: #ddd;

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#video {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

@import "header";
@import "intro";
@import "incentives";
@import "pricing";
@import "footer";
