#survey-form {
  padding: 2rem;
  background: blue;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;

  .inputs {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    label {
      font-weight: bold;
      padding-bottom: 1rem;
    }

    p {
      font-weight: bold;
      padding-bottom: 2rem;
    }
  }
}
