html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}

#main {
  background: rgb(206, 200, 154);
  padding: 1rem;
  margin: 1rem;
}

#title {
  font-size: 9rem;
  text-align: center;
}

#img-div {
  background-color: rgb(114, 111, 88);
  padding: 2vh;
  border-radius: 5vw;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  #img {
    max-width: 1080px;
    width: 60vw;
    border: black solid 3rem;
    border-radius: 5vw;
  }

  #img-caption {
    font-size: 2rem;
  }
}

#tribute-info {
  font-size: 5rem;
  width: 90%;
  text-align: center;
  margin: 2vh auto;
}

#timeline {
  //   background-color: black;
  width: 50%;
  margin: auto;
  font-size: 2rem;

  ul {
    .point {
      padding: 1rem;
    }
    #ending {
      list-style: none;
    }
  }
}

#wiki {
  padding-top: 3rem;
  font-size: 2rem;
  text-align: center;
}
